/* === Dasboard container === */
.dashboard {
  padding: 20px;
}

/* == Welcome heading == */
.dashboard h1{
  font-size: 28px;
  margin-bottom: 12px;
}

/* == Description Text == */
.dashboard p{
  font-size: 16px;
  margin-bottom: 8px;
  max-width: 700px;
}

/* === Action Buttons === */
.dashboard button {
  margin-top: 10px;
  padding: 8px 16px;
}
