/* === Navbar container === */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

/* ==== Left & Right Selection ==== */
.navbar-left,
.navbar-middle,
.navbar-right {
  display: flex;
  align-items: center;
}

/* === Navbar Buttons === */
.navbar button {
  padding: 6px 14px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
}

.navbar button:hover{
  background-color: #f0f0ff;
}

/* === Logout BUtton emphasis === */
.navbar-right button {
  border-color: #e57373;
  color: #d32f2f;
}

.navbar-right button:hover{
  background-color: #fdecea;
}

